main{
  margin: 3%;
  padding: 1%;
}
main a{
  text-decoration: none;
  color: white;
}
main a:hover{
  text-decoration: underline;
  transition: 0.3s;
}
.contenue{
  color: white;
}
.contenue h2{
  margin: auto;
  padding: auto;
  margin-left: 3vw;
  font-size: 48px;
}
.contenue p{
  margin: auto;
  font-size: 24px;
  padding-top: 1vw;
}
.navigation ul{
  list-style: none;
  padding: 2em;
  margin: 0px;
}
.navigation ul li{
  display: grid;
  grid-template:
            "a b" auto
            "c d" auto;
  grid-gap: 10px;
  text-align: center;
}
.navigation ul li a{
  /*Text des buttons*/
  text-decoration: none;
  color: black;
  border: solid #00439c 4px;
  border-radius: 6px;
  background-color: rgba(255,255,255,0.7);
  font-weight: bold;
  font-size: 25px;
  /*Image des Buttons*/
  background-repeat: no-repeat;
  background-position: center 30px;
  padding: 230px 40px 40px 40px;
}
#console_salon{
  background-image: url(../image/console_salon.png);
  background-size: 200px;
  grid-area: a;
  transition: all 0.5s;
}
#console_salon:hover{
  color: white;
  border: solid white 2px;
  background-color: #00439c;
  padding: 235px 45px 45px 45px;
  text-decoration: underline;
}
#console_portable{
  background-image: url(../image/console_portable.png);
  background-position: center 40px;
  background-size: 250px;
  grid-area: b;
  transition: all 0.5s;
}
#console_portable:hover{
  color: white;
  border: solid white 2px;
  background-color: #00439c;
  padding: 235px 45px 45px 45px;
  text-decoration: underline;
}
#jeux{
  background-image: url(../image/jeux.png);
  background-size: 150px;
  grid-area: c;
  transition: all 0.5s;
}
#jeux:hover{
  color: white;
  border: solid white 2px;
  background-color: #00439c;
  padding: 235px 45px 45px 45px;
  text-decoration: underline;
}
#service{
  background-image: url(../image/service.png);
  background-size: 175px;
  grid-area: d;
  transition: all 0.5s;
}
#service:hover{
  color: white;
  border: solid white 2px;
  background-color: #00439c;
  padding: 235px 45px 45px 45px;
  text-decoration: underline;
}

@media screen and (max-width: 1000px){
  .contenue h2{
    margin-left: 4vw;
    font-size: 6vw;
  }
  .contenue p{
    font-size: 4vw;
    padding-top: 1vw;
  }
}
@media screen and (max-width: 800px){
  .contenue h2{
    margin-left: 6vw;
    font-size: 8vw;
  }
  .contenue p{
    font-size: 6vw;
    padding-top: 2vw;
  }
}
