html{
  background-image: url(../image/fond_site.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:center;
  background-size: cover;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(10,10,10,0.5);
  display: block;
  margin: auto;
  max-width: 90rem;
  padding: 0.5rem;
  min-height: 100%;
}

/**/
header{
  justify-content: center;
  text-align: center;
  margin: 6%;
  border-radius: 4px;
}
header a{
  text-decoration: none;
  font-weight: bold;
  font-size: 6vw;
  color: white;
  line-height: auto;
  padding-left: 140px;
}
header a.titre{
  background-image: url(../image/logo2.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 3vw;
  background-position: 20px;
}

/**/
footer .pieddepage{
  color: white;
}
footer .pieddepage p{
  background-image: url(../image/logoCC-by-nc-sa.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-image: 40px;
  padding-top: 50px;
}
footer .lienspieddepage{
  position: relative;
  text-align: right;
  top: -90px;
}
footer .lienspieddepage a{
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 3vw;
}
footer .lienspieddepage a:hover{
  text-decoration: underline;
  transition: 0.3s;
}

@media screen and (max-width: 1000px){
  header a.titre{
    background-image: none;
  }
  header{
    justify-content: center;
    text-align: center;
  }
  header a{
    padding-left: 0px;
    font-size: 8vw;
  }
}
