/*Dans cette partie on règle le fond d'écran de tout le site*/
html{
  background-image: url(../image/fond_site.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:center;
  background-size: cover;
}
/*Dans cette partie on règle la police, la taille du body, ect.*/
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(10,10,10,0.35);
  display: block;
  margin: auto;
  max-width: 90rem;
  padding: 0.5rem;
  line-height: 1.4;
  min-height: 100%;
}

/*Dans ces parties on règle le header, sa taille, son logo, le style du titre et la position de ces derniers*/
header{
  justify-content: center;
  margin: 6%;
  border-radius: 4px;
}
header a{
  text-decoration: none;
  font-weight: bold;
  font-size: 5vw;
  color: white;
  line-height: 120px;
  padding-left: 140px;
}
header a.titre{
  background-image: url(../image/logo_playstation.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: 20px;
}

/*Dans cette partie on règle le pied de page et ces composant : le text, le titre et le logo*/
footer .pieddepage{
  color: white;
}
footer .pieddepage p{
  background-image: url(../image/logoCC-by-nc-sa.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-image: 40px;
  padding-top: 50px;
}

/*Dans cette partie on règle le lien dans le pied de page et sa taille, sa position et son animation lorsqu'il est survolé*/
footer .lienspieddepage{
  position: relative;
  text-align: right;
  top: -100px;
}
footer .lienspieddepage a{
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 40px;
}
footer .lienspieddepage a:hover{
  text-decoration: underline;
  transition: 0.3s;
}

/*Dans cette partie on règle la disparition du logo et la taille du text en fonction de la taille de la fenetre*/
@media screen and (max-width: 1300px){
  header a.titre{
    background-image: none;
  }
  header{
    justify-content: center;
    text-align: center;
  }
  header a{
    padding-left: 0px;
    font-size: 8vw;
  }
}
@media screen and (max-width: 1000px){
  header a{
    padding-left: 0px;
    font-size: 10vw;
  }
}
@media screen and (max-width: 800px){
  header a{
    padding-left: 0px;
    font-size: 12vw;
  }
}
