main .contenue{
  margin: 3%;
  padding: 1px;
  color: white;
}
main .contenue h2{
  margin: auto;
  padding: auto;
  margin-left: 3vw;
  font-size: 48px;
}
main .contenue p{
  margin: auto;
  font-size: 24px;
  padding-top: 1vw;
}

main .navigation{
  display: block;
  margin: 0px;
  padding: 2px;
  border: solid white 2px;
  border-radius: 4px;
}
main .navigation a{
  text-decoration: none;
  color: white;
}
main .navigation ul{
  list-style: none;
  text-align: right;
}
main .navigation ul li{
  display: inline;
}
#vers_acceuil{
  text-align: left;
}
#vers_page{
  text-align: right;
}
