/*Animation douce à la descente quand on clique sur les liens*/
html {
  scroll-behavior: smooth;
}
/*Règle la taille, la position et la couleur partie contenue du main*/
main .contenue{
  margin: 3%;
  padding: 1px;
  color: white;
}
main .contenue h2{
  margin: auto;
  padding: auto;
  margin-left: 3vw;
  font-size: 48px;
}
main .contenue p{
  margin: auto;
  font-size: 24px;
  padding-top: 1vw;
}
main section{
  border: solid white 2px;
  border-radius: 6px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 2%
}
main section h3{
  padding-top: 0px;
  font-size: 30px;
  text-decoration: underline;
}
main section h4{
  font-size: 24px;
  text-indent: 10px;
}
main section ul li{
  font-size: 18px;
}
main .intro a{
  color: white;
  text-decoration: underline;
}
main .intro a:hover{
  font-style: italic;
}
#retour_en_haut{
  text-align: center;
}
#retour_en_haut a{
  color: white;
  padding : 4px;
  border: solid white 1px;
  border-radius: 4px;
}
.image_simple img{
  width: 20%;
  float: left;
  padding: 1em 2em;
}
.image_simple:nth-of-type(odd) img{
  float: right;
}
iframe{
  display: block;
  width: 400px;
  height: 200px;
  margin: 5px auto 0px auto;
}
.image_autre img{
  width: 30%;
  display: block;
  margin: 10px auto;
}
.image_bordure img{
  width: 30%;
  display: block;
  margin: 10px auto;
  border: solid white 1px;
}


.slider_psp, .slider_psvita, .slider_uncharted, .slider_randc{
	width: 500px;
	height: 300px;
  overflow: hidden;
  display: block;
  border: solid white 3px;
  border-radius: 6px
}
.slider_psp{
  float: right;
  margin: 15px 5px 5px 15px;
}
.slider_psp .slides:hover {
  animation-play-state: paused;
}
.slider_psvita{
  float: left;
  margin: 15px 15px 5px 5px;
}
.slider_psvita .slides:hover {
  animation-play-state: paused;
}
.slider_uncharted{
  float: right;
  margin: 15px 15px 5px 5px;
}
.slider_uncharted .slides:hover {
  animation-play-state: paused;
}
.slider_randc{
  margin: 15px auto 5px auto;
}
.slider_randc .slides:hover {
  animation-play-state: paused;
}
.slides {
	width: calc(500px * 3);
	animation: glisse 10s infinite;
}
.slide {
	float: left;
}

@keyframes glisse {
	0% {
		transform: translateX(0);
	}
	10% {
		transform: translateX(0);
	}
	33% {
		transform: translateX(-500px);
	}
	43% {
		transform: translateX(-500px);
	}
	66% {
		transform: translateX(-1000px);
	}
	76% {
		transform: translateX(-1000px);
	}
	100% {
		transform: translateX(0);
	}
}

@media screen and (max-width: 800px) {
  .slider_psp, .slider_psvita, .slider_uncharted, .slider_randc{
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 600px) {
  .slider_psp, .slider_psvita, .slider_uncharted, .slider_randc{
    display: none;
  }
}



/*Règle la taille, la position, la couleur, le style et les animations partie navigations du main*/
main nav{
  display: block;
  margin: 0px;
  border: solid white 2px;
  border-radius: 4px;
}
main nav a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin: 5px;
}
main nav ul{
  list-style: none;
}
main nav ul li{
  display: inline;
}
#vers_acceuil{
  text-align: left;
  margin: 10px;
}
#vers_salon, #vers_portable, #vers_jeux, #vers_service{
  text-align: right;
  border-left: solid white 2px;
  padding-left: 10px;
}
main nav a:hover{
  text-decoration: underline;
}

/*Permet l'affichage complet et en taille suffisante sur tout les tailles d'écran*/
@media screen and (max-width: 750px){
  main nav ul li{

    display: block; /*Superposition des éléments*/
  }
  main nav{
    text-align: center;
  }
  #vers_salon, #vers_portable, #vers_jeux, #vers_service{
    border-left: none;
  }
}
@media screen and (max-width: 550px) {
  .image_simple img{
    float: none;
    padding: 0px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .image_simple:nth-of-type(odd) img{
    float: none;
  }
}
